/* Move down content because we have a fixed that is 50px tall */

body {
    padding-bottom: 20px;
    background: #BDBDBD; 
    background: -webkit-linear-gradient(#BDBDBD, #170D97);
    background: -o-linear-gradient(#BDBDBD, #170D97); 
    background: -moz-linear-gradient(#BDBDBD, #170D97);
    background: linear-gradient(#BDBDBD, #170D97);
    height: 100vh;
}

.jumbotron {
    background-image: url("https://donovankg.github.io/portfolio/assets/img/background.jpg");
    background-size: cover;
    text-shadow: 2px 2px #616161;
   color: #DABE83;
}

#owner {
  color: #DABE83;
    position: absolute;
    right: 0;
    order: 1;
    padding: 10px 20px 0 0;
    font-size: 2.0em;
}

.fa {
    font-size: 2.0em;
}

.box {
    height: 250px;
    padding: 0;
}
.baseBox{
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .0;
}
.partOne{
    background-image: url("https://donovankg.github.io/portfolio/assets/img/ballons.png");
    
}

.selectFade{
    transition: opacity 0.3s;
    -webkit-transition: opacity .5s ease-in-out;
}
.selectFade:hover{
    opacity: 1;
}


.partTwo{
    background-image: url("https://donovankg.github.io/portfolio/assets/img/sand.png");
}

.partThree{
     background-image: url("https://donovankg.github.io/portfolio/assets/img/notes-angular.png");
}
.partFour{
     background-image: url("https://donovankg.github.io/portfolio/assets/img/chart.png");
}
.iconBox{
    position: absolute;
    top: 85%;
    right: 10%;
}
h1, h2, p{
    color: #DABE83;
    padding: 10px;
    text-shadow: 2px 2px #05154A;
}
i{
   color: #DABE83;
   text-shadow: 2px 2px #05154A;
}
.setTitle{
    top: 70%;
    position: absolute;
}
footer{
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #05154A;
    opacity: .4;
}

footer{
    position: fixed;
    height: 70px;
}
.main-title {
 margin: .5em auto;
}
@media screen and (max-width: 480px) {
    .setTitle{
        top: 60%;
    }
    .jumbotron{
        padding: 5px;
    }
    .jumbotron h1{
        margin-top: 5px;
    }
    .jumbotron p{
        font-size: 18px;
    }
    h1{
        font-size: 26px;
    }

}
